@import "index.scss";
html *{
	margin: 0;
	padding:0;
}
html,body{
	height:100%;
	width: 100%;
}
body{
	display: flex;
	justify-content:space-between;
	flex-direction:column;
	height:100%;
	width: 100%;
	text-align: center;
	h1{
		color:#fff;
		height:50px;	
		background:blue;
	}
	.main{
		flex:1;
		background: red;
		overflow-y: auto;
		ul{
			li{
				line-height: 50px;
				color:#fff;
				border-bottom: 1px solid #999;
			}
		}
	}
}